.produto-page {
  padding: 40px 16px;
}

.produto-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.produto-preco {
  font-size: 26px;
  font-weight: bold;
  color: var(--vermelho);
}
